@media only screen and (max-width: 1920px){
    .container{
        width: 100%;
    }
}

@media only screen and (max-width: 1200px){
     /*SECTION MODALIDADES*/
     .text{
        padding-bottom: 40px;
   }
    #modalidades figure{
         padding: 20px 15px; 
    }

}
@media only screen and (max-width: 1025px){
    /*MENU RESPONSIVO*/
    /*Escondendo a barra de navegação (temporariamente)*/
    .menu {
        display: none;
        margin: 0px;
        background-color: #f2f2f2;
        padding: 5px;
        width: 250px;
        float: right;   
    }
    a,
    ul,
    li{
        color: #0d0d0d;
    }
    .top{
        display:block;
        margin: 0 10px;
         
    }
    .menu li{
        display: block;
        color:#0d0d0d;
        margin-bottom: 10px;
        padding-top: 15px;
        margin: 0px;
        text-align: center;
    }

    .menu li a:link,
    .menu li a:visited{
        border:0;
        font-size: 25px;
        margin: 0px;
        transition: all 0.4s;
    }
    .menu li a:hover,
    .menu li a:active{
        background-color: #F25E7A;
        width: 100%;
        border: none;
        margin: 0px;
    }
    
    .mobile-nav-icon{
        display: inline-block;
        position: absolute;
        right: 10px;
        top:-30px;
        
    }
    .logo img{
        width: 100px;
    }
    .mobile-nav-icon ion-icon {
        font-size: 200%;
        color:#F25E7A;   
    }
    .stick .top{
        display: block;
        float: left;
        transition: all 0.4s;
    }
    .sticky .menu{
        padding: 5px;
        background-color: black;
        margin: 0px;
    }
    .sticky .menu li a:link,
    .stick .menu li a:visited{
        transition: border 0.3s;
        /*padding: 8px 0;*/
        transition: all 0.4s;
        margin: 0px;
    }
    .sticky .menu li a:hover,
    .stick .menu li a:active{
        background-color: #f2f2f2;
        color: #0d0d0d;
        border: none;
    }
    .sticky .logo img{
        width: 100px;
    }
    .sticky .mobile-nav-icon ion-icon{
        color: #f2f2f2;
    }
}
@media only screen and (max-width:767px){
    /*SECTION ABOUT*/
    .title-1 h2::before,
    .title-2 h2::before{
        width: 80%;
        margin: 20px auto;
    }

    /*SECTION MODALIDADES*/
    .text{
        padding-bottom: 40px;
   }
    #modalidades figure{
         padding: 20px 15px; 
    }

    /*SECTION FOOTER*/
    .text-footer h4::after{
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    
    /*SECTION HORARIOS*/
    #mapa iframe{
        width: 350px;
        height: 250px;
    }

    #agende-sua-aula fieldset{
        width: 350px; 
        justify-content: space-around;
        align-items: center;
    }
    #agende-sua-aula fieldset label{
        margin-top: 0px;
        margin-left: 0px;
        margin-top: 10px;
    }
    #agende-sua-aula fieldset .campo{
        width: 85%;
        height: 40px;
        margin-top: 20px;
        margin-right: 0px;
    }
    #agende-sua-aula #btn-enviar{
        width: 60%;
        height: 45px;
        margin-top:25px;
    }

    
}