*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1920px;
    margin: 0 auto;
}

html{
    color:#F2F2F2;
    font-family:'Playfair Display', serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-size: 20px;
}

/*-------------- cabecalho*/
header{
    background-color: #0D0D0D;
}
.top{
    padding-top: 10px;
    display: flex;
    /*background-image: linear-gradient(to bottom right,#0D0D0D , #F25E7A);*/
    justify-content: space-evenly;
    align-items: center;
}
img{
    max-width: 100%;
}

.logo{
    flex-basis: 75px;
}

a,
ul, 
li{
    text-decoration: none;
    list-style: none;
    color: #F2F2F2;
}

.menu{
    display: flex;
}


.menu li a:link,
.menu li a:visited{
    margin-left: 45px;
    transition: border 0.3s;
    /*font-size: 90%;*/
    padding: 8px 0;
    border: 1px solid transparent;
}

.menu li a:hover,
.menu li a:active{
    border: 1px solid #F23207;
}
/*MENU RESPONSIVO*/
.mobile-nav-icon{
    float: left;
    margin-top: 30px;
    /*não mostra o conteúdo html deste seletor*/
    display: none;
}

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to bottom right,#0D0D0D , #F25E7A);
    /*define a profundidade do elemento, definindo ele como prioritário*/
    z-index: 9999;
    animation: slide 1s;
}
@keyframes slide{
    0%{
        transform: translateY(-100px);
    }

    100%{
        transform: translateY(0);
    }
}
.sticky .menu li a:link,
.sticky .menu li a:visited{
    color: #F2F2F2;
}
.sticky .menu li a:hover{
    border: 1px solid #F23207;
}

.sticky .logo {
    height: 75px;
    width: auto;
}


.bannerVideo {
    max-width: 100%;
    filter: grayscale(2);
}

/*----------SECTION ABOUT*/

#about{
    background-color: #0D0D0D;
    color:#F2F2F2;
    display: flex;
    flex-wrap: wrap;
}
.div-about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-basis: 1200px;
    margin: 0 auto;
    text-align: center;
}

.about-text p{
    border-left:1px solid #F25E7A;
    border-right:1px solid #F25E7A;
    word-spacing: 2px;
    letter-spacing: 1px;
    padding: 5px 30px;
    margin: 0 20px;
    flex-shrink: 1;
    font-size: 20px;  
}

h1{
    font-size: 35px;
    text-transform: uppercase;
    font-weight:bolder;
    letter-spacing: 3px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0; 
}

/*slider*/
.swiper {
    margin-top: 30px;
    width: 80vw;
    height: 60vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-1,
.title-2{
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    
}
.title-1 h2::before{
    
    content: " ";
    height: 2px;
    display: block;
    background-color: #F25E7A;
    margin-bottom: 35px;
    width: 100%;

}
.title-2 h2::before{
    
    content: " ";
    height: 2px;
    display: block;
    background-color: #F23207;
    margin-bottom: 35px;
    width: 100%;
}

.row-1,
.row-2{
    margin: 0 20px;
    display: flex;
    text-align: center;
    align-content:space-between;
    justify-content:space-evenly;
    width:100%;
    flex-wrap: wrap;
    align-items:center;
    padding-bottom: 100px;
}

.col-span{
    margin: 50px;
    flex-basis: 150px;
    flex-grow: 1;
    flex-shrink: 1;
}

.box h2{
    text-align: center;
    font-weight: lighter;
    flex-basis: 200px;
    flex-grow: 1;
}

/*MAIN - SECTION 2 -------------*/
main{
    width: 100%;
    background-color: #0D0D0D;
}
#title-modalidades{
    font-size: 35px;
    text-transform: uppercase;
    font-weight:bolder;
    letter-spacing: 3px;
    padding: 50px 0;
    margin: 0 auto;

}

#modalidades h2{
    width: 100%;
    padding:20px;
}
#modalidades h2::before{
    
    content: " ";
    height: 2px;
    display: block;
    background-color: #F25E7A;
    margin-bottom: 35px;
    width: 100%;

}
#modalidades figure{
    flex-basis: 550px;
    flex-shrink: 1;
}

.text{
    flex-basis: 500px;
    flex-grow: 0;
    flex-shrink: 1;
    text-align: justify;
}
.row-left,
.row-right{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}
.row-right p,
.row-left p{
    padding: 5px 20px;
    
}
.text .btn{
    margin: 30px;
    color: #F25E7A;
    border-radius: 25px;
    transition: background-color 0.5s;
    text-transform: uppercase;
    font-weight:bolder;
    letter-spacing:1px;
}
.text .btn:hover{
    color: #F25E7A;
    background-color: #F2F2F2;
    border-radius: 25px;
    
}
/*SECTION 3 mapa e agende sua aula -----*/
#gradecurricular {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-shrink: 1;
    padding: 30px 0;
}
.about-class{
    width: 100%;
}
h1{
    font-size: 35px;
    text-transform: uppercase;
    font-weight:bolder;
    letter-spacing: 3px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0; 
}

.row-3,
.row-4{
    margin: 0 30px;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.col-modalidades{
    flex-basis: 500px;
    flex-shrink: 1;
}
.box p{
    text-align: left;
    flex-basis: 500px;
    padding-top: 10px;
    padding-bottom: 20px ;
    
}
.box h3{
    font-size: 30px;
    text-align: center;
    flex-basis: 500px;
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #F25E7A;
    transition: all 0.2s;
}
.box h4{
    font-size: 20px;
    text-align: left;
    flex-basis: 170px;
    flex-grow: 1;
    color:lightpink;
}


#mapa iframe{
    width: 400px;
    height: 300px;
}

#gradecurricular h3{
    margin: 25px 0;
}
#agende-sua-aula h3{
    margin: 25px 0;
}
#agende-sua-aula fieldset{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 400px;
}
#agende-sua-aula fieldset label{
    border-style: none;
    border-width: 0px;
    margin-top: 10px;
    margin-left: 20px;
}
#agende-sua-aula fieldset .campo{
    width: 50%;
    height: 25px;
    border-style: none;
    border-width: 0px;
    border-radius: 30px;
    font-family:'Playfair Display', serif;
    text-align: center;
    margin-top: 12px;
    margin-right: 20px;

}
#agende-sua-aula #btn-enviar{
    background-image: linear-gradient(to bottom left, #F25E7A,#F23207);
    color: #F2F2F2;
    border-style: none;
    border-width: 0px;
    border-radius: 30px;
    width: 50%;
    height: 30px; 
    margin: 20px auto;
}

/*SECTION 4 PROFESSORES -----------*/
#professores{
    background-color: #0D0D0D;
    padding: 50px 0;
}
#professores .colunas-profes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

#professores .coluna{
    flex-shrink: 1;
    flex-basis: 290px;
    padding: 15px;
}
.coluna h4{
    text-transform: uppercase;
    font-weight:bolder;
    letter-spacing: 2px;
    padding: 20px 0;
    
}

.coluna h4,
.coluna p{
    text-align:justify;
}
.coluna img{
    border-radius: 50%;
    filter: grayscale(1);
}

.coluna img:hover{
    filter: grayscale(0);;
}

/*FOOTER ----------------*/
footer{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}

.logo-footer{
    flex-basis: 100px;
    flex-shrink: 1;
    animation-duration: 2s;
}
ion-icon{
    color:#0D0D0D;
    font-size: 200%;
    padding: 10px;
    transition: font-size, color 0.5s;
}
ion-icon:hover{
    color:#F23207;
    padding: 10px;
}

.text-footer{
    margin: 50px 0;
    color:#0d0d0d;
    text-align: center;
    flex-basis: 500px;
    flex-shrink: 1;
    /*width: 50%;*/

}

.text-footer h4{
    font-size: 20px;
    text-transform: uppercase;
    font-weight:lighter;
    letter-spacing: 1px;
}

.text-footer h4::after{
    content: " ";
    height: 2px;
    display: block;
    background-color: #F23207;
    margin: 35px auto;
    width: 100%;
}

